@charset "utf-8";

html {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color: #000;
	text-decoration:none;
}
* {
	margin: 0;
	padding: 0;
}
a:link, a:visited, a:hover, a:active {
	color: #003876;
}
a:hover {
	text-decoration:underline;
}
#Content {
	height:auto;
	padding: 10px;
	margin-left:auto;
	margin-right:auto;
}
.disclaimer {
	margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 372px;
}
.disclaimer p {
	margin-bottom:10px;
}
.logout a {
	color:#F00;
}
.header {
	border-bottom: 1px solid #333;
	width: 1000px;
	height: 45px;
	margin: 5px 10px;
	padding: 0 0 5px;
}
img {
	border: none;
}
label {
	font-weight:bold;
	text-align:right;
}
.login {
	border: 1px solid #666;
	margin-left:auto;
	margin-right:auto;
	padding: 5px;
	width:400px;
}
.login label {
	width: 100px;
}
.login h2, .login h3 {
	margin: 10px 15px;
}
.login h5 {
	text-align:right;
}
.login input {
	float:right;
}
.logincred {
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 230px;
}
.cred {
	padding: 5px;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.error {
	font-weight:bold;
	color:#F00;
	text-align:center
}
.error_message {
	border: 7px solid #FF0000;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    width: 350px;
}
.error_message p {
	margin: 5px;
}
h1.title {
	background-color: #003a73;
	border-bottom: 10px solid #999;
	color: #fff;
	padding: 5px;
	margin: 2px 15px 0 0;
}
.view {
	margin: 10px;
	padding: 5px;
}
table.threshhold {
	width:100%;
	padding:0;
	margin:0;
}
table.threshhold tr {
	border: 1px solid #666;
}
table.threshhold td {
	padding: 5px;
	width:50%;
}
.divChart {
	width:1000px;
}
.charts {
	background-color:#c7ac4d;
	float:left;
	width: 490px;
	height: 400px;
	border: 1px solid #333;
}
.charts_num {
	border: 1px solid #666;
	float:left;
	padding: 20px;
	text-align:center;
	width: 45%;
}
.charts_num h3 {
}
.charts_num span {
	font-size: 135px;
}
span.good {
	color: #0C3;
}
span.bad {
	color: #F00;
}
.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
