
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script type="text/javascript">
	window.parent.$('#login_modal').modal('hide'); 
</script>
</head>
<body>
</body>
</html>
